{% extends "base.html" %}
{% block title %}混合排列统计表{% endblock %}
{% block content %}
{% if error %}
    <p>{{error}}</p>
{% else %}

    <table border="1" style="border-spacing: 1px;border-collapse: collapse;">
        <thead>
            <tr><td colspan="{{col_num}}"> <p>板材：{{sheet_name}}， 一共使用：{{num_sheet}}块， 平均使用率：{{avg_rate}}</p></td></tr>
            <tr>
                <td colspan="2">板材编号</td>
                {% for value in bin_num %}
                <td> P{{ forloop.counter }}</td>
                {% endfor %}
                <td>总数</td>
            </tr>
            <tr>
                <td>宽度</td><td>长度 \ 数量：</td>
                {% for value in bin_num %}
                <td> {{value}}</td>
                {% endfor %}
                <td>{{num_sheet}}</td>
            </tr>
        </thead>
        <tbody>
            {% for detail in details %}
            <tr>
                <td>{{detail.width}}</td><td>{{detail.height}}</td>
                {% for value in detail.num_list %}
                <td> {{value}} </td>
                {% endfor %}
                <td>{{detail.total}}</td>
            </tr>
            {% endfor %}

            <tr><td colspan="2">图形总数：</td>
            {% for num in sheet_num_shape %}
                <td>{{num}}</td>
            {% endfor %}
            </tr>

            <tr><td colspan="2">利用率：</td>
            {% for rate in rates %}
                <td>{{rate}}</td>
            {% endfor %}
            </tr>
        </tbody>
    </table><br>
    <table border="1" style="border-spacing: 1px;border-collapse: collapse;">
        <thead><tr><td>余料</td><td>数量</td><td>面积(mm^2)</td></tr></thead>
        <tbody>
        {% for section in empty_sections %}
        <tr><td>{{section.name}}</td><td>{{section.num}}</td> <td>{{section.ares}}</td></tr>
         {% endfor %}
        </tbody>
    </table>
    <p><a href="/{{pic_url}}"> 排版设计图 </a> </p>

{% endif %}
{% endblock%}