{% extends "base.html" %}
{% block title %}小程序{% endblock %}
{% block content %}
<div class="jumbotron">
<h1>欢迎来到这里</h1>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3" >
    <div class="thumbnail">
      <div class="caption">
        <h3>组件使用率计算</h3>
        <p><a href="{% url 'single_use_rate_demo' %}">进入</a></p>
      </div>
    </div>
    <div class="col-sm-6 col-md-3" >
      <div class="thumbnail">
      <div class="caption">
        <h3>产品混合使用率计算</h3>
        <p><a href="{% url 'product_use_rate_demo' %}">进入</a></p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
