{% extends "base.html" %}
{% block title %}产品使用率计算{% endblock %}
{% block content %}
<div class="jumbotron">
<form method="post" action="{% url 'product_use_rate_demo'%}">
    <label>板材长度(mm)：</label><input type="number" name="width"  value="2430"/><br/>
    <label>板材宽读(mm)：</label><input type="number" name="height" value="1210"/><br/>
    <label>组件的间隙(mm)：</label><input type="number" name="border" value="5" min="0"/><br/>
    <label>有纹理：</label><input type="radio" name="is_texture" value="1" />
    <label>无纹理：</label><input type="radio" name="is_texture" value="0" checked /><br/>
    <label>竖直摆放：</label><input type="radio" name="is_vertical" value="1" />
    <label>水平摆放：</label><input type="radio" name="is_vertical" value="0" checked /><br/>
    <p>格式：宽,长,数量; 例子: 400 500 30;130 250 10;800 900 5</p>
    <textarea rows="4" cols="50" name="shape_data">{{ shape_data }}</textarea>
    <input type="submit" value="提交" />
</form>
    {% if error %}
    <p>输入错误：{{ info }}</p>
    {% endif %}
    {% if desc_url %}
    <p><a href="{{desc_url}}"> 详细信息 </a></p>
    {% endif %}
    {% if picture %}
        <img src="/{{ picture }}" width="1004" height="100%"/>
    {% endif %}
</div>
{% endblock %}